* {
    box-sizing: border-box;
}


/*tf2 font*/
@font-face {
    font-family: 'TF2 Build';
    font-style: normal;
    font-weight: normal;
    src: local('TF2 Build'), url('../fonts/tf2build.woff') format('woff');
}

/*scrollbar from w3schools */
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0 auto;
    text-align: left;
    background-image: url("../images/backgrounds/2fort.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: red; */
    /* font-family: Georgia; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    font-family: 'TF2 Build';
    letter-spacing: 2px;
    /* min-width: 10px;
    min-height: 10px; */
}

.answer-short {
    max-width: 950px;
    text-overflow: hidden;
    word-wrap: break-word;
    /* border: 1px red solid; */
    color: rgb(0, 0, 255);
    font-weight: bold;
    max-height: 120vh;
    position: relative;
}

.answer-long {
    font-size: 100%;
    max-width: 950px;
    text-overflow: hidden;
    word-wrap: break-word;
    /* border: 1px red solid; */
    color: rgb(0, 0, 255);
    font-weight: bold;
    max-height: 500vh;
    position: relative;
    /* margin-bottom: 10vh; */
    
}

.question-number {
    font-size: 24px;
}

/* .placeholder {
    border: 2px red solid;
} */


.left-column {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* border: 2px red solid; */
    grid-column: 1 / 1;
}

.grid {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* border: 2px blue solid; */
    display: grid;
    align-content: center;
    grid-template-columns: 0.01% 99.98% 0.01%;
}

/* .gray-footer{
    border: 2px orange solid;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top: 1080px;
    right: 0px;
    width: 1520px;
    height: 183px;
    display: block;
    z-index: -2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-right: 1000px;
    padding-left:  100px;

} */

.settings #night-mode-setting {
    display: inline-flex;
    position: relative;
    align-items: center;
    border: 2px red solid;
    width: 100%;
}


.night-mode-toggle-checkbox {
    position: absolute;
    display: none;
    /* color: rgb(0, 248, 0); */
}

.night-mode-toggle-slider-area {
    color: gray;
    background-color: gray;
    border: gray 2px solid;
    border-radius: 10px;
    min-width: 40px;
    height: 21px;  
    margin-left: 10px;
    position: relative;
    display: inline-flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* left: 130px;
    top: 115px; */
    /* z-index: 0; */
    transition-property: background-color, border;
    transition-duration: 0.1s;
}

.night-mode-toggle-slider {
    color: white;
    background-color: white;
    border: white 2px solid;
    border-radius: 1000px;
    min-width: 21px;
    min-height: 21px;  
    position: absolute;
    left: -2px;
    display: inline-block;
    /* z-index: 1; */
    /* left: 130px;
    top: 115px; */
    
}

.slider-transition {
    transition-property: left;
    transition-duration: 0.1s;
}

#img-sun {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 210px;
    /* top: 111px;
    left: 185px; */
    visibility: visible;
}

#img-moon {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 210px;
    /* top: 111px;
    left: 185px; */
    visibility: hidden;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    /* border: 2px rgb(255, 255, 255) solid; */
    grid-column: 2 / 2;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

}
.form-header {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    padding-left: 20px; 
    color: white;
    background-color:  rgb(53, 53, 53);
    opacity: 1;
    width: 100%;
    height: 70px;
    left: 0vh;
    top: 0vh;
    position: absolute;
    z-index: 1; 
    /* visibility: visible; */
    
}

.form-header h1 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    /* display: block; */
    vertical-align: middle;
    /*
    position: absolute; 
    margin: 0 auto; */
    /* border: 1px red solid; */
}

@media screen and (max-width: 500px) { 
    .form-header h1 {
        font-size: 160%;
    }
}

@media screen and (max-width: 400px) { 
    .form-header h1 {
        font-size: 140%;
    }
}

@media screen and (max-width: 350px) { 
    .form-header h1 {
        font-size: 120%;
    }
}

.form .div-line {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border-top: 2px rgb(51, 51, 51) dotted;
    width: 100%;
}
.form {
    /* margin: 0 auto; */
    margin-top: 5px;
    max-width: 1050px;
    max-height: 99%;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    color: #444444;
    /* opacity: 0.90; */
    border-radius: 10px;
    /* border: 2px green solid; */
    /* display: flex;
    align-content: center; */
    position: relative;
    padding-left: 20px;
    padding-top: 60px;

}

@media screen and (max-width: 1050px) { 
    .form {
        max-height: 100%;
        margin-top: 0;
        border-radius: 0px;
    }
    .form-header {
        border-radius: 0px;
    }
 }

.nav {
    display: flex;
    position: relative; 
    display: block;
    border: 2px solid red;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 275px;
    justify-content: center;
    /* bottom: -370px; */
}

@media screen and (max-width: 1100px) { 
    .nav {
        margin: auto;
        left: -9px;
    }
    .form {
        padding-bottom: 40px;
    }
    .whyfavhat {
        padding-bottom: 20px;
    }
}

.submit {
    font-family: 'TF2 Build';
    font-size: 12px;
    letter-spacing: 1px;
    /* font-family: Georgia; */
    color: white;
    background-color: rgb(18, 105, 204);
    text-decoration: none;

    border: 2px rgb(18, 105, 204) solid;
    border-radius: 5px;
    width: 125px;

    text-align: center;
    margin-left: 3px;
    display: inline-block;

    transition-property: background-color border;
    transition-duration: 0.5s;

    
}

.go-back {
    font-family: 'TF2 Build';
    font-size: 12px;
    letter-spacing: 1px;
    /* font-family: Georgia; */
    color: white;
    background-color: rgb(18, 105, 204);
    text-decoration: none;

    border: 2px rgb(18, 105, 204) solid;
    border-radius: 5px;
    width: 125px;
    
    text-align: center;
    margin-right: 3px;
    display: inline-block;

    transition-property: background-color border;
    transition-duration: 0.5s;

}

.submit-text, .go-back-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

.settings-column {
    /* border: 2px yellow solid; */
    /* height: 1125px; */
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    grid-column: 3 / 3;
}

.open-settings-button-area {
    background-color: black;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    float: right;
    position: fixed;
    right: 5px;
    top: 5px;
    /* right: 100px; */
    z-index: 2;
}

.open-settings-button {
    color: gray;
    font-size: 60px;
    margin-top: -10%;
    transition-property: color, animation;
    transition-duration: 0.2s, 10s;
    transform-origin: 53% 53%;
    transition-timing-function: ease-in, linear;
}

@media screen and (max-width: 700px) { 
    .open-settings-button-area {
        width: 40px;
        height: 40px;
    }

    .open-settings-button {
        font-size: 40px;
    }
}

.open-settings-button:hover {
    color: white;
    /* animation: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards; */
}

@keyframes spin {
    0%   {transform: rotate(-360deg);}
} 

.settings {
    background-color: rgb(41, 41, 41);
    z-index: 1;
    /* border: 2px white solid; */
    width: 0px;
    height: 100%;
    max-height: 100%;
    /* font-weight: bold; */
    display: block;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    position: fixed;
    /*makes it open from the right for some reason*/
    right: 0;
    
    color: white;
    padding-top: 30px;
    white-space: nowrap;
}

.settings-transition {
    transition-property: width;
    transition-duration: 0.5s;
}

#settings-header {
    font-size: 32px;
    color: white;
    margin-left: 32px;
}

#close-settings-button {
    color: rgb(173, 173, 173);
    transition: color;
    transition-duration: 0.2s;
    padding-right: 20px;
    padding-left: 32px;
    font-size: 50px;
    position: absolute;
    left: 210px;
    margin-top: -30px;
}

#close-settings-button:hover {
    color: white;
}

.settings p {
    margin-left: 32px;
    display: inline-block;
}

#clear-storage-setting #clear-storage-header {
    border: 2px red solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center; 
    
}

.warning-symbol {
    display: inline-flex;
    color: red;
    font-size: 24px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5px; */
    border: 2px green solid;
    /* position: absolute;
    top: 190px;
    left: 175px; */
}

.warning-symbol div {
    width: 25px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    border: 1px blue solid;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 20x;
    justify-self: flex-end;
    margin-left: 5px;
   
}

.settings .warning-description {

    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(66, 66, 66);
    width: 215px;
    height: 250px;
    border-radius: 10px;
    margin-left: 32px;
    font-size: 12px;
}

#clear-form-input-setting, #clear-all-setting {
    border: 2px green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.warning-description p {
    display: flex;
    border: 2px red solid;
    margin-left: 0px;
    width: 100%;
    justify-content: center;
}

.settings .clear-form-input-button, .settings .clear-all-button {
    border: 1px rgb(18, 105, 204) solid;
    border-radius: 5px;
    color: white;
    display: block;
    width: 50%;
    margin-top: -5px;
    /* margin: auto; */
    text-align: center;
    font-family: 'TF2 Build';
    background-color: rgb(18, 105, 204);
}

.settings #navigation ol {
    margin-left: 5px;
    /* border: 1px red solid; */
    margin-top: -5px;
    font-size: 14px;
    
}

.settings #navigation ol li {
    color: white;
    padding-bottom: 5px;
}

.settings #navigation ol li a {
    color: white;
}
.settings #navigation ol li a:hover {
    color: rgb(255, 107, 38);
}

.settings #navigation ol li .arrow {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

#navigation p .compass {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.settings .div-line {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border-top: 2px rgb(73, 73, 73) solid;
    width: 300px;
}

/* reactive section */

.submit:hover, .go-back:hover {
    background-color: rgb(14, 84, 163);
    border: 2px rgb(14, 84, 163) solid;
}

.night-mode-toggle-label-on:hover {
    color: white;
    background-color: rgb(95, 95, 95);
}

.night-mode-toggle-label-off:hover {
    color: white;
    background-color: black;
}
