* {
    box-sizing: border-box;
}

/*learn scss*/

/*scrollbar from w3schools */
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0 auto;
    text-align: left;
    background-image: url("../images/2fort.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia;
    max-width: 100%;
    max-height: 100%;
}

datalist, select, option {
    font-weight: bold;
    font-family: Helvetica;
    /* color: black; */
    /* background-color: rgb(85, 85, 85); */
}

.class-wrapper {

    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    display: inline-flex;
    /* width: 50px; */
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    /* vertical-align: middle; */
}

/* .class-wrapper input {
    position: relative;
} */

#hours {
    width: 100px;
}

#favmap {
    width: 300px;
}

#favhat {
    width: 400px;
}

input {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 16px;
    /* width: 20%;
    max-width: 20%; */
    /* color: rgb(223, 223, 223);
    background-color: rgb(85, 85, 85); */
   
}

textarea {
    resize: both;
    max-width: 80%;
    min-width: 30%;
    max-height: 100px;
    min-height: 70px;
    width: 60%;
    font-weight: bold;
    font-family: Arial;
    font-size: 16px;
    /* border: 2px black solid; */
    /* border-radius: 5px; */
    /* color: rgb(223, 223, 223);
    background-color: rgb(85, 85, 85); */
   
}

@media screen and (max-width: 700px) { 
    textarea {
        max-width: 93%;
        min-width: 46%;
    }
}

@media screen and (max-width: 600px) { 
    textarea {
        max-width: 93%;
        min-width: 93%;
        resize: vertical;
        max-height: 200px;

    }
    /* textarea::placeholder {
        visibility: hidden;
    } */
}

@media screen and (max-width: 500px) { 
    textarea {
        max-width: 93%;
        /* min-width: 45%; */
    }
    
    /* textarea::placeholder {
        visibility: hidden;
    } */
}

@media screen and (max-width: 400px) { 
    textarea {
        max-width: 93%;
        /* min-width: 45%; */
    }
    #favmap {
        width: 300px;
    }
    
    #favhat {
        width: 300px;
    }
    
}

@media screen and (max-width:375px) { 
    textarea {
        max-width: 93%;
        /* min-width: 45%; */
    }
    #favmap {
        width: 200px;
    }
    
    #favhat {
        width: 200px;
    }
    
}

.question-number {
    font-size: 24px;
}

.night-mode-toggle-checkbox {
    position: absolute;
    display: none;
    /* color: rgb(0, 248, 0); */
}

.night-mode-toggle-slider-area {
    color: gray;
    background-color: gray;
    border: gray 2px solid;
    border-radius: 10px;
    min-width: 40px;
    height: 21px;  
    position: absolute;
    display: inline-block;
    left: 130px;
    top: 115px;
    transition-property: background-color, border;
    transition-duration: 0.1s;
}

.night-mode-toggle-slider {
    color: white;
    background-color: white;
    border: white 2px solid;
    border-radius: 1000px;
    min-width: 21px;
    min-height: 21px;  
    position: absolute;
    display: inline-block;
    left: 130px;
    top: 115px;
    
}

.slider-transition {
    transition-property: left;
    transition-duration: 0.1s;
}

#img-sun {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 111px;
    left: 185px;
    visibility: visible;
}

#img-moon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 111px;
    left: 185px;
    visibility: hidden;
}


.grid {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    /* border: 2px blue solid; */
    display: grid;
    align-content: center;
    grid-template-columns: 0.01% 99.98% 0.01%;
    /* grid-template-rows: 1065px 60px; */
}


.left-column {
    /* border: 2px red solid; */
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    grid-column: 1 / 1;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    /* border: 2px rgb(255, 255, 255) solid; */
    grid-column: 2 / 2;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.form-header {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    padding-left: 20px; 
    padding-bottom: 20px;
    color: white;
    background-color:  rgb(53, 53, 53);
    opacity: 1;
    width: 100%;
    height: 70px;
    left: 0vh;
    top: 0vh;
    position: absolute;
    z-index: 1; 
    /* visibility: visible; */
    /* border: 1px orange solid; */
}

.form-header h1 {
    /* display: block; */
    position: relative; 
    font-size: 200%;
    top: 25%;
    /* border: 1px red solid; */
}

@media screen and (max-width: 500px) { 
    .form-header h1 {
        font-size: 160%;
    }
}

@media screen and (max-width: 400px) { 
    .form-header h1 {
        font-size: 140%;
    }
}

@media screen and (max-width: 350px) { 
    .form-header h1 {
        font-size: 100%;
    }
}

.form .div-line {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border-top: 2px rgb(51, 51, 51) dotted;
    width: 100%;
}

.form {
    /* display: flex; */
    margin-top: 5px;
    /* margin: 0 auto; */
    /* border: 2px red solid; */
    max-width: 1050px;
    max-height: 99%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    /* opacity: 0.95; */
    border-radius: 10px;
    /* margin-top: 50px; */
    /* display: inline-block; */
    padding-left: 20px;
    padding-top: 60px;
    /* padding-bottom: 20px; */
    /*Position: relative allows you to control absolutely positioned children and keep them inside the parent*/
    position: relative;
    /* visibility: visible; */
    z-index: 0;
}

/*Fixed elements fuckup when you zoom in, need to write js to reposition on zoom*/
#submit-button {
    
    display: flex;
    position: relative; 
    display: block;
    height: 60px;
    width: 120px;
    margin-left: 85%;
    margin-bottom: 40px;
    font-family: Georgia;
    font-size: 100%;
    color: white;
    background-color: rgb(18, 105, 204);
    border: 2px rgb(18, 105, 204) solid;
    border-radius: 5px;
    transition-property: background-color border;
    transition-duration: 0.5s;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
}

@media screen and (max-width: 1050px) { 
    .form {
        max-height: 100%;
        margin-top: 0;
        border-radius: 0px;
    }
    .form-header {
        border-radius: 0px;
    }
 }


@media screen and (max-width: 900px) { 
    #submit-button {
        margin-left: 80%;
        top: 10px;
        
        /* position: absolute; */
        /* justify-items: center; */
    }
    .form {
        max-height: 102%;
        height: 102%;
    }
 }

@media screen and (max-width: 800px) { 
    #submit-button {
        margin-left: 77%;
        top: 15px;
        /* position: absolute; */
        /* justify-items: center; */
    }
 }

 @media screen and (max-width: 700px) { 
    #submit-button {
        margin-left: 72%;
        top: 20px;
        /* position: absolute; */
        /* justify-items: center; */
    }
 }

@media screen and (max-width: 600px) { 
    #submit-button {
        margin: auto;
        left: -10px;
        /* position: absolute; */
        /* justify-items: center; */
    }
    .form {
        padding-bottom: 30px;
        /* position: absolute; */
        /* justify-items: center; */
    }
    #whyfavhat {
        margin-bottom: 30px;
    }
 }



.settings-column {
    /* border: 2px yellow solid; */
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    grid-column: 3 / 3;
    display: flex;
    justify-content: flex-end;
}

.open-settings-button-area {
    background-color: black;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    float: right;
    position: fixed;
    right: 5px;
    top: 5px;
    /* right: 100px; */
    z-index: 2;
}



.open-settings-button {
    color: gray;
    font-size: 60px;
    margin-top: -10%;
    transition-property: color, animation;
    transition-duration: 0.2s, 10s;
    transform-origin: 53% 53%;
    transition-timing-function: ease-in, linear;
}

@media screen and (max-width: 700px) { 
    .open-settings-button-area {
        width: 40px;
        height: 40px;
    }

    .open-settings-button {
        font-size: 40px;
    }
}

.open-settings-button:hover {
    color: white;
    /* animation: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards; */
}

/* @keyframes spin {
    0%   {transform: rotate(-360deg);}
}  */


.settings {
    background-color: black;
    z-index: 3;
    /* border: 2px white solid; */
    width: 0px;
    height: 100%;
    max-width: 100%;
    max-height: 100%; 
    /* font-weight: bold;  */
    display: block;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    position: fixed;
    color: white;
    /*makes it open from the right for some reason*/
    right: 0;
    padding-top: 30px;
    white-space: nowrap;
}

.settings-transition {
    transition-property: width;
    transition-duration: 0.5s;
}

.settings p {
    font-size: 100%;
    margin-left: 32px;
    display: inline-block;
}

.settings .warning-symbol {
    color: red;
    font-size: 24px;
    position: absolute;
    top: 190px;
    left: 175px;
}

.settings .warning-description {
    background-color: rgb(66, 66, 66);
    width: 215px;
    height: 175px;
    border-radius: 10px;
    margin-left: 32px;
    font-size: 12px;
}

.settings .clear-form-input-button, .settings .clear-all-button {
    border: 1px rgb(18, 105, 204) solid;
    border-radius: 5px;
    color: white;
    display: block;
    /* margin-left: 80px; */
    margin: auto;
    text-align: center;
    font-family: Georgia;
    background-color: rgb(18, 105, 204);
}

.settings #navigation ol {
    margin-left: 5px;
    /* border: 1px red solid; */
    margin-top: -5px;
    font-size: 14px;
    
}

.settings #navigation ol li {
    color: white;
    padding-bottom: 5px;
}

.settings #navigation ol li a {
    color: white;
}
.settings #navigation ol li a:hover {
    color: rgb(18, 105, 204);
}

.settings #navigation ol li .arrow {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

#navigation p .compass {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
}




.settings .div-line {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border-top: 2px rgb(73, 73, 73) solid;
    width: 300px;
}


#settings-header {
    font-size: 32px;
    color: white;
    margin-left: 32px;
}

#close-settings-button {
    color: rgb(173, 173, 173);
    transition: color;
    transition-duration: 0.2s;
    padding-right: 20px;
    padding-left: 32px;
    font-size: 50px;
    position: absolute;
    left: 210px;
    margin-top: -30px;
}

#close-settings-button:hover {
    color: white;
}


/* reactive section */

#submit-button:hover {
    background-color: rgb(14, 84, 163);
    border: rgb(14, 84, 163);
}


.night-mode-toggle-label-on:hover {
    color: white;
    background-color: rgb(95, 95, 95);
}

.night-mode-toggle-label-off:hover {
    color: white;
    background-color: black;
}






