* {
    box-sizing: border-box;
}

h1, p, a {
    color: white;
}

body {
    /*preloading images*/
    background-image: url("../images/2fort.jpg"), url("../images/upward.jpg"), url("../images/barnblitz.jpg"), url("../images/harvest.jpg"), url("../images/coldfront.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia;
    animation-name: image-gallery;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

/*To slow down fade-in effects, must consider every frame*/
/*
  white flash happens when transitioning between elements on first cycle of animation, one 
  way to fix this is by "preloading" images to fix"
  https://stackoverflow.com/questions/46048321/how-to-get-rid-of-the-white-flash-when-changing-background-image-with-animation
*/

@keyframes image-gallery {
    1% {background-image: url("../images/2fort.jpg");}
    2% {background-image: url("../images/2fort.jpg");}
    3% {background-image: url("../images/2fort.jpg");}
    4% {background-image: url("../images/2fort.jpg");}
    5% {background-image: url("../images/2fort.jpg");}
    6% {background-image: url("../images/2fort.jpg");}
    7% {background-image: url("../images/2fort.jpg");}
    8% {background-image: url("../images/2fort.jpg");}
    9% {background-image: url("../images/2fort.jpg");}
    10% {background-image: url("../images/2fort.jpg");}
    11% {background-image: url("../images/2fort.jpg");}
    12% {background-image: url("../images/2fort.jpg");}
    13% {background-image: url("../images/2fort.jpg");}
    14% {background-image: url("../images/2fort.jpg");}
    15% {background-image: url("../images/2fort.jpg");}
    16% {background-image: url("../images/2fort.jpg");}
    17% {background-image: url("../images/2fort.jpg");}
    /*
    18% {background-image: url("../images/2fort.jpg");}
    19% {background-image: url("../images/2fort.jpg");}
    */
    20% {background-image: url("../images/upward.jpg");}
    21% {background-image: url("../images/upward.jpg");}
    22% {background-image: url("../images/upward.jpg");}
    23% {background-image: url("../images/upward.jpg");}
    24% {background-image: url("../images/upward.jpg");}
    25% {background-image: url("../images/upward.jpg");}
    26% {background-image: url("../images/upward.jpg");}
    27% {background-image: url("../images/upward.jpg");}
    28% {background-image: url("../images/upward.jpg");}
    29% {background-image: url("../images/upward.jpg");}
    30% {background-image: url("../images/upward.jpg");}
    31% {background-image: url("../images/upward.jpg");}
    32% {background-image: url("../images/upward.jpg");}
    33% {background-image: url("../images/upward.jpg");}
    34% {background-image: url("../images/upward.jpg");}
    35% {background-image: url("../images/upward.jpg");}
    36% {background-image: url("../images/upward.jpg");}
    37% {background-image: url("../images/upward.jpg");}
    /*
    38% {background-image: url("../images/upward.jpg");}
    39% {background-image: url("../images/upward.jpg");}
    */
    40% {background-image: url("../images/barnblitz.jpg");}
    41% {background-image: url("../images/barnblitz.jpg");}
    42% {background-image: url("../images/barnblitz.jpg");}
    43% {background-image: url("../images/barnblitz.jpg");}
    44% {background-image: url("../images/barnblitz.jpg");}
    45% {background-image: url("../images/barnblitz.jpg");}
    46% {background-image: url("../images/barnblitz.jpg");}
    47% {background-image: url("../images/barnblitz.jpg");}
    48% {background-image: url("../images/barnblitz.jpg");}
    49% {background-image: url("../images/barnblitz.jpg");}
    50% {background-image: url("../images/barnblitz.jpg");}
    51% {background-image: url("../images/barnblitz.jpg");}
    52% {background-image: url("../images/barnblitz.jpg");}
    53% {background-image: url("../images/barnblitz.jpg");}
    54% {background-image: url("../images/barnblitz.jpg");}
    55% {background-image: url("../images/barnblitz.jpg");}
    56% {background-image: url("../images/barnblitz.jpg");}
    57% {background-image: url("../images/barnblitz.jpg");}
    /*
    58% {background-image: url("../images/barnblitz.jpg");}
    59% {background-image: url("../images/barnblitz.jpg");}
    */
    60% {background-image: url("../images/harvest.jpg");}
    61% {background-image: url("../images/harvest.jpg");}
    62% {background-image: url("../images/harvest.jpg");}
    63% {background-image: url("../images/harvest.jpg");}
    64% {background-image: url("../images/harvest.jpg");}
    65% {background-image: url("../images/harvest.jpg");}
    66% {background-image: url("../images/harvest.jpg");}
    67% {background-image: url("../images/harvest.jpg");}
    68% {background-image: url("../images/harvest.jpg");}
    69% {background-image: url("../images/harvest.jpg");}
    70% {background-image: url("../images/harvest.jpg");}
    71% {background-image: url("../images/harvest.jpg");}
    72% {background-image: url("../images/harvest.jpg");}
    73% {background-image: url("../images/harvest.jpg");}
    74% {background-image: url("../images/harvest.jpg");}
    75% {background-image: url("../images/harvest.jpg");}
    76% {background-image: url("../images/harvest.jpg");}
    77% {background-image: url("../images/harvest.jpg");}
    /*
    78% {background-image: url("../images/harvest.jpg");}
    79% {background-image: url("../images/harvest.jpg");}
    */
    80% {background-image: url("../images/coldfront.jpg");}
    81% {background-image: url("../images/coldfront.jpg");}
    82% {background-image: url("../images/coldfront.jpg");}
    83% {background-image: url("../images/coldfront.jpg");}
    84% {background-image: url("../images/coldfront.jpg");}
    85% {background-image: url("../images/coldfront.jpg");}
    86% {background-image: url("../images/coldfront.jpg");}
    87% {background-image: url("../images/coldfront.jpg");}
    88% {background-image: url("../images/coldfront.jpg");}
    89% {background-image: url("../images/coldfront.jpg");}
    90% {background-image: url("../images/coldfront.jpg");}
    91% {background-image: url("../images/coldfront.jpg");}
    92% {background-image: url("../images/coldfront.jpg");}
    93% {background-image: url("../images/coldfront.jpg");}
    94% {background-image: url("../images/coldfront.jpg");}
    95% {background-image: url("../images/coldfront.jpg");}
    96% {background-image: url("../images/coldfront.jpg");}
    97% {background-image: url("../images/coldfront.jpg");}
    /*
    98% {background-image: url("../images/coldfront.jpg");}
    99% {background-image: url("../images/coldfront.jpg");}
    */
    100% {background-image: url("../images/2fort.jpg");}
    
}

.grid {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border: 2px blue solid;
    display: grid;
    align-content: center;
    grid-template-columns: 15% 70% 15%;
}


.column-one {
    border: 2px red solid;
    grid-column: 1 / 1;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.main-content-column {
    border: 2px green solid;
    display: inline-block;
    
    grid-column: 2 / 2;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.main-content {
    background-color: #1B2124;
    opacity: 0.99;
    /* position: fixed; */
    border-radius: 1vw;
    padding-top: 2vh;
    padding-left: 3vw;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 2px red solid;
}

.main-content h1 {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    font-size: 2vw;
}

.main-content p {
    /* border: 2px red solid; */
    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    font-size: 1.1vw;

}

.main-content a {
    /* border: 2px red solid; */
    /* animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    font-size: 1.5vw;
    display: inline-block; */
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.submit {
    color: white;
    transition-property: color;
    transition-duration: 0s;
}



.tf2-icon {
    /* display: none; */
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    margin-left: 0.5vw;
    /* margin-bottom: 50px;
    margin-left: 15px; */
    visibility: hidden;
    /* position: absolute; */
    vertical-align: middle;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes spin {
    0%   {transform: rotate(-360deg);}
}

.submit:hover {
    color: rgb(109, 109, 255);
}

.submit:hover ~ .tf2-icon {
    visibility: visible;
}

.column-three {
    border: 2px yellow solid;
    display: flex;
    justify-content: flex-end;
    grid-column: 3 / 3;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.open-navbar-button-area {
    background-color: black;
    display: flex;
    height: 4vw;
    width: 4vw;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    float: right;
    /* position: fixed; */
    /* right: 100px; */
    z-index: 2;
}

.open-navbar-button {
    color: gray;
    font-size: 4vw;
    margin-top: -1px;
    transition-property: color;
    transition-duration: 0.2s;
}

.open-navbar-button:hover {
    color: white;
}

.navbar {
    background-color: black;
    z-index: 1;
    /* border: 2px white solid; */
    width: 0px;
    height: 1050px;
    /* font-weight: bold; */
    display: block;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    position: fixed;
    /*makes it open from the right for some reason*/
    right: 0;
    transition-property: width;
    transition-duration: 0.5s;
    color: gray;
    padding-top: 30px;
}

.navbar .main-link {
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 0px;
    text-decoration: none;
    font-size: 25px;
    white-space: nowrap;
    color: #a3a3a3;
    display: block;
    transition-duration: 0.3s;
    transition-property: color;
}

.navbar .main-link:hover {
    color: white;
}

.about-creator p, .about-game p, .about-credits p, .about-disclaimer p  {
    padding-left: 32px;
    /*prevents text from spazzing the fk out*/
    white-space: nowrap;
    /* position: absolute; */
}

.about-credits #user-link, .about-credits #website-link {
    color: rgb(98, 98, 255);
    transition-property: color;
    transition-duration: 0.1s;
}

.about-credits #user-link:hover, .about-credits #website-link:hover  {
    color: rgb(142, 142, 252);
}

#close-navbar-button {
    color: rgb(173, 173, 173);
    transition: color;
    transition-duration: 0.2s;
    padding-right: 20px;
    padding-left: 32px;
    font-size: 50px;
    position: absolute;
    left: 210px;
    margin-top: -30px;

}

#close-navbar-button:hover {
    color: white;
}
